:root {
  --primary-theme-color: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  --primary-text-color: #fff;
  --primary-border-color: rgb(180, 179, 179);
  --primary-border-focus-mode: #a626d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--primary-text-color);
}

/*========== Header ==========*/
.header {
  background: var(--primary-theme-color);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.troll-face-icon {
  width: 50px;
}

.header-title {
  font-size: 2.1rem;
}

.header-text {
  font-size: 1.3rem;
}

/*========== Meme ==========*/
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.form {
  padding: 10px;
}

.input-contaier {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px;
}

.input {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  height: 40px;
  outline: none;
  border: 2px solid var(--primary-border-color);
  border-radius: 5px;
  padding-left: 15px;
}

.input:focus {
  border-color: var(--primary-border-focus-mode);
}

.search-meme-container {
  height: 30px;
  display: flex;
  margin: 10px;
}

.search-btn {
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  width: 100%;
  background: var(--primary-theme-color);
  height: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/*========== Meme image container ==========*/
.meme-image-container {
  margin: 12px;
  margin-top: 40px;
  display: none;
}

.meme-image {
  width: 100%;
  height: 390px;
  border-radius: 4px;
}

.display-meme-image {
  display: block;
}

/*========== Texts container ==========*/
.texts-container {
  /* background: lightblue; */
  position: relative;
  display: flex;
  justify-content: center;
}

.top-text,
.bottom-text {
  color: #000;
  position: absolute;
  font-size: 2.2rem;
  font-weight: bold;
}

.bottom-text {
  margin-top: 310px;
}
